src_code/Java EE/JavaEE_Labs/solutions/WebServices/exercise2/WebServiceTester/src/META-INF/wsdl/localhost_8080/BrokerTool/StockPriceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-516-rc1. --><xs:schema xmlns:tns="http://web.trader/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web.trader/">

<xs:element name="getStockPrice" type="tns:getStockPrice" />

<xs:element name="getStockPriceResponse" type="tns:getStockPriceResponse" />

<xs:complexType name="getStockPrice">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>